*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.*
*-concordance.tex
*.nav
*.snm
*.toc
*.vrb

sost71032_*_slides/sost71032_*_slides.tex
sost71032_*_slides/sost71032_*_slides.pdf
sost71032_assessment_formative_*/sost71032_assessment_formative_*.tex
sost71032_assessment_formative_*/sost71032_assessment_formative_*.pdf
sost71032_assessment_summative/sost71032_assessment_summative.pdf
sost71032_assessment_summative/sost71032_assessment_summative.tex

*.Rhistory

*slides/figure/
*slides/cache/